<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>523968562747-2b33dn62b9jh0bp6s97qa4c1k3cvgcos.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.523968562747-2b33dn62b9jh0bp6s97qa4c1k3cvgcos</string>
	<key>API_KEY</key>
	<string>AIzaSyAn2aihpL0h4x0dT5TRqxbR4zJYo7mMZRs</string>
	<key>GCM_SENDER_ID</key>
	<string>523968562747</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lambdaSchool.FoodTruckTracker</string>
	<key>PROJECT_ID</key>
	<string>food-truck-trackr-2e9ff</string>
	<key>STORAGE_BUCKET</key>
	<string>food-truck-trackr-2e9ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:523968562747:ios:2fdc688cf218f71193be1e</string>
	<key>DATABASE_URL</key>
	<string>https://food-truck-trackr-2e9ff.firebaseio.com</string>
</dict>
</plist>